.navbar{
    z-index:1000; 
    position: relative;
    background-color: teal;
}

.carousel {
    position:absolute !important;
    width:100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    top:0;
    margin-right: 0px;
}

.navbar a {
    color: rgb(97, 90, 90) !important;
    font-weight: bold;
}

#item {
    color:  black !important;
    font-weight: normal;
}

#contact {
    overflow: hidden;
    margin-top:630px;
}

.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:  #343838 ;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 15px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: rgb(0,128,128);
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

hr {
    background-color: grey;
    width: 75%;
    margin-top: 5px !important;
    margin-bottom: 5px !important; 
}