.navbar{
    z-index:1000; 
    position: relative;
    background-color: teal;
}

.carousel {
    margin-top: -56px;
    width:100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    top:0;
    margin-right: 0px;
}

.navbar a {
    color: rgb(97, 90, 90) !important;
    font-weight: bold;
}

#item {
    color:  black !important;
    font-weight: normal;
}

#contact {
    overflow: hidden;
}

.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:  #343838 ;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 15px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: rgb(0,128,128);
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

hr {
    background-color: grey;
    width: 75%;
    margin-top: 5px !important;
    margin-bottom: 5px !important; 
}

#container {
    position: relative;
}

#container h2 {
    color: #fff;
    position: absolute;
    font-size: 50px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#container h4 {
    color: #fff;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.fadeOut{
    opacity:0.6;
    transition: opacity 0.5s ease-in-out;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto;
    grid-gap: 10px;
    margin-left: 300px;
    margin-top: 10px;
}

.grid-item {
    padding: 20px;
    text-align: center;
}

#brand,#logout {
    color: white !important;
}

i.fa-trash {
    color: teal;
}

#tab {
    margin: 0 auto;
    text-align: center;
}

.img-thumbnail {
    transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
}